version: '3'

services:
  emqx:
    image: emqx/emqx:latest
    container_name: emqx
    ports:
      - "1883:1883"     # MQTT TCP
      - "8083:8083"     # MQTT over WebSocket
      - "18083:18083"   # Dashboard
    environment:
      EMQX_NAME: "emqx"
      EMQX_LOADED_PLUGINS: "emqx_dashboard,emqx_auth_username"
      EMQX_ALLOW_ANONYMOUS: "true"
    restart: unless-stopped