version: '3'

services:
  emqx:
    image: emqx/emqx:latest
    container_name: emqx
    ports:
      - "1883:1883"
      - "8083:8083"
      - "18083:18083"
    environment:
      EMQX_NAME: "emqx"
      EMQX_LOADED_PLUGINS: "emqx_dashboard"
      EMQX_ALLOW_ANONYMOUS: "true"
    restart: unless-stopped